@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body: #ECF0F1;
  --header: #ECF0F1;
  --header-text: #17202A;
  --header-text-hover: #808B96;
  --hero-bg: #F7F9F9;
  --hero-title: #17202A;
  --hero-description: #566573;
  --sidebar-bg: #F7F9F9;
  --sidebar-text: #566573;
  --sidebar-close-icon-bg: #ECF0F1;
  --sidebar-icon: #17202A;
  --sidebar-link-active: #D7DBDD;
  --sidebar-link-hover: #ECF0F1;
  --sidebar-border: #D0D3D4;
  --item-bg: #F7F9F9;
  --image-border: #E5E7E9;
  --item-title: #17202A;
  --item-description: #ABB2B9;
  --footer-text: #17202A;
  --footer-text1: #ABB2B9;
  --arrow-up-bg: #F7F9F9;
}

[color-scheme="dark"] {
  --body: #17202A;
  --header: #17202A;
  --header-text: #FDFEFE;
  --hero-bg: #212F3D;
  --hero-title: #FDFEFE;
  --hero-description: #ABB2B9;
  --sidebar-bg: #1C2833;
  --sidebar-title: #FDFEFE;
  --sidebar-text: #808B96;
  --sidebar-close-icon-bg: #17202A;
  --sidebar-icon: #FDFEFE;
  --sidebar-link-active: #17202A;
  --sidebar-link-hover: #212F3D;
  --sidebar-border: #273746;
  --item-bg: #1C2833;
  --image-border: #2C3E50;
  --item-title: #FDFEFE;
  --item-description: #566573;
  --footer-text: #ECF0F1;
  --footer-text1: #566573;
  --arrow-up-bg: #273746;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  transition: .3s;
}

body {
  width: 100%;
  background-color: var(--body);
}

/* src/index.css */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #2C3E50;
}

::-webkit-scrollbar-thumb {
  background-color: #979A9A;
  border-radius: 10px;
}


  