@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body: #FDFEFE;
  --header: #FDFEFE;
  --header-text: #17202A;
  --header-text-hover: #808B96;
  --item-shadow: #E5E7E9;
  --image-border: #E5E7E9;
  --item-title: #17202A;
  --item-description: #ABB2B9;
}

[color-scheme="dark"] {
  --body: #17202A;
  --header: #17202A;
  --header-text: #FDFEFE;
  --item-shadow: #2C3E50;
  --image-border: #2C3E50;
  --item-title: #FDFEFE;
  --item-description: #566573;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: var(--body);
    transition: .5s;
}

/* src/index.css */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #2C3E50;
}

::-webkit-scrollbar-thumb {
  background-color: #979A9A;
  border-radius: 10px;
}


  